<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapperNameSpace">
    <!--
    resultType:返回类型
    #{id}:从传递过来的参数中获取id值
     -->
    <select id="selectUser" resultType="example.mybatis.User">
    select username, password from users where username = #{username}
  </select>
</mapper>